.main_logo {
  font-family: 'Merienda One';
  font-size: 140px;
  text-align: center;
  margin-top: 100px;
  font-weight: bolder;
}

.tagline {
  margin: 0 auto;
  text-align: center;
  font-weight: lighter;
  padding-right: 250px;
  font-size: 18px;
  color: #005600
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0 20px 20px 20px;
  border: 1px solid #999;
  background-color: #fbfbfb;
  border-radius: 5px;
  box-shadow: 5px 5px 100px #111
}

.container h1 {
  display: inline-block;
  float: left
}

.container .cards {
  background-image: url('http://i.imgur.com/bEZ8OBm.png');
  width: 300px;
  height: 280px;
  display: inline-block;
  float: right;
  margin-top: 20px

}


.game_container {
    margin: 120px auto;
  width: 600px;
  padding: 0 20px 20px 20px;
  border: 1px solid #999;
  background-color: #fbfbfb;
  border-radius: 5px;
  box-shadow: 5px 5px 100px #111
}

th {
  text-align: left;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  height: 30px;
  color: white;
  padding: 8px 5px 5px 5px;
  box-shadow: 10px 10px 50px #333
}

body {
  margin-top: 40px;
  font-family: 'Roboto';
  background-image: url('http://i.imgur.com/YiI99dW.jpg');
  background-attachment: fixed;
  background-position: cover; 
}

.auth {
float: right;
margin-right: 25px;
top: 0;
}

#navbar input {
margin-right: 15px;
display: inline;
border-radius: 5px;
line-height:  13px
}


input[type=submit] {
    width: 60px;
    height: 21px;
    font-size: small;
    text-align: center;
}


#navbar a {
  color: white;
  float: right;
  margin-right: 25px;
  font-weight: lighter;
  text-decoration: none
}

#navbar label {
  font-size: x-small;
}

.container {
  margin: 120px auto;
  color: black
}

input[type=text],input[type=email],input[type=password] {
/*  display: block;
*/  margin-bottom: 15px;
  border-radius: 5px;
}

#logo {
  font-family: 'Merienda One';
  font-size: large;
  margin: 1px 0 10px 20px;
  position: absolute;
  left: 1px;
  top: 5px;
}


form.sign_up {
  width: 180px;
  display: inline-block;
/*  padding-right: 520px;
*/}



.decks input[type=submit] {
  background-image: url('http://i.imgur.com/bEZ8OBm.png');
  width: 300px;
  height: 280px;
  display: inline-block;
  margin: 30px;
  font-family: 'Roboto';
  font-weight: bolder;
  font-size: 60px;
  background-color: #fbfbfb;
  border: 0;
  box-shadow: 1px 1px 50px #aaa;
  float: left;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;
}


