<div class="container">


<% if !current_user %>

  <h1>Create an Account</h1>
    <form action="/user/new" method='post' class="sign_up">
      
      <% if @error %>
      <div class = "login_error"> <%= @error %> ></div>
      <% end %>

      <label>Name</label>
        <input type="text" class="name" name='name'>
      <label>E-Mail</label>
        <input type="email" class="email" name='email'>
      <label>Password</label>
        <input type="password" class="password" name='password' pattern='.{6,}' title="Password must be greater than 6 character">
      <input type="submit" name='submit'>
    </form>

<% end %>



</div>
