<div class="login_error_container">

  <h1>Oops! Try Again.</h1>

<% if !current_user %>

    <div class = "error"><%= @error  %></div>
    <br />
    <form action="/user" method="post">
      <label>E-Mail</label>
        <input type="email" name="email" autofocus>
      <label>Password</label>
        <input type="password" name="password">
      <input type="submit" name = "submit">    
    </form>

<% end %>



</div>
