

<h1 class="results">You Suck!</h1>

# <%@defs = Round.definition(session[:round_id])%>
# <% @defs = Round.definition.each do |def| %>
# <p>  <%= def %> </p>
# <% end %>

# <%@ans = Round.answer(session[:round_id)%>
# <% @defs = Round.answer.each do |ans| %>
# <p>  <%= ans %> </p>
# <% end %>

# <%@resp = Round.response(session[:round_id)%>
# <% @defs = Round.response.each do |resp| %>
# <p>  <%= resp %> </p>
# <% end %>
